<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>


		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>event.Customer.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>


		<servlet-name>CustomerInsert</servlet-name>
		<servlet-class>event.Customer.InsertCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerInsert</servlet-name>
		<url-pattern>/CustomerInsert</url-pattern>
	</servlet-mapping>
	<servlet>


		<servlet-name>UpdateCustomerServlet</servlet-name>
		<servlet-class>event.Customer.UpdateCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCustomerServlet</servlet-name>
		<url-pattern>/UpdateCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet>


		<servlet-name>DeleteCustomerServlet</servlet-name>
		<servlet-class>event.Customer.DeleteCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<url-pattern>/DeleteCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet>


		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>event.Customer.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
         
         
         
         
         
         
         
         <servlet>
		<servlet-name>AddcardDetails</servlet-name>
		<servlet-class>event.Payment.AddCardDetailsServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
		<servlet-name>AddcardDetails</servlet-name>
		<url-pattern>/AddcardDetails</url-pattern>
	    </servlet-mapping>
	    
	    <servlet>
	    <servlet-name>GetCardDetails</servlet-name>
	    <servlet-class>event.Payment.GetCardDetailsServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
		<servlet-name>GetCardDetails</servlet-name>
		<url-pattern>/GetCardDetails</url-pattern>
	    </servlet-mapping>
	    
	    <servlet>
	    <servlet-name>UpdateCardDetails</servlet-name>
	    <servlet-class>event.Payment.UpdateCardDetailsServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
		<servlet-name>UpdateCardDetails</servlet-name>
		<url-pattern>/UpdateCardDetails</url-pattern>
	    </servlet-mapping>
	    
	    
	    <servlet>
	    <servlet-name>DeleteCardDetails</servlet-name>
	    <servlet-class>event.Payment.DeleteCardDetailsServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
		<servlet-name>DeleteCardDetails</servlet-name>
		<url-pattern>/DeleteCardDetails</url-pattern>
	    </servlet-mapping>
	    
	    
	    
	    
	    
	    
        
        
         
        
	  	
         
       
        
        
  		
  		
  		<servlet>
        	<servlet-name>EventServlet</servlet-name>
        	<servlet-class>event.Event.EventServlet</servlet-class>
    	</servlet>
    	<servlet-mapping>
        	<servlet-name>EventServlet</servlet-name>
        	<url-pattern>/Event</url-pattern>
   		</servlet-mapping>
   		
   		
   		
   		<servlet>
        	<servlet-name>NotificationServlet</servlet-name>
        	<servlet-class>event.Notification.NotificationServlet</servlet-class>
    	</servlet>
    	<servlet-mapping>
       		<servlet-name>NotificationServlet</servlet-name>
        	<url-pattern>/Notification</url-pattern>
    	</servlet-mapping>
  
  
</web-app>